<!doctype html>
<html lang="fr" ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <title>Directives: ng-repeat</title>
        <link rel="stylesheet" href="style.css">
    </head>
<body>
<div id="wrapper" ng-controller="MainCtrl">
    <h1>ng-repeat</h1>
 
    <hr>
    <h2>Une liste basique avec une barre de recherche</h2>
    <input type="text" ng-model="searchFriend" placeholder="Chercher dans la liste" autofocus>
    <ul>
        <li class="friend" ng-repeat="friend in friendlist | filter:searchFriend">
            {{friend.name}}
        </li>
    </ul>
 
    <hr>
    <h2>Une liste d'amis, classée par statut et par ordre alphabétique</h2>
    <ul>
        <li class="friend" ng-repeat="friend in friendlist | orderBy:['-status', 'name']">
            {{friend.name}}
            <div class="status" ng-class="friend.status"></div>
        </li>
    </ul>
 
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
<script src="app.js"></script>
</body>